<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Better Keep</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>better-keep</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSUserNotificationUsageDescription</key>
	<string>We use notifications to remind you about saved notes.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to add images to notes.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to add photos to notes.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone to record audio.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We use speech recognition to transcribe your audio recordings and help with note titles.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need permission to save sketches to your gallery.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>This app needs to access your Downloads folder to store AI models for transcription.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>This app needs to access your Documents folder to store AI models for transcription.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1058616680754-agbcnlhs39ob5fkuju1ske3piarct4lh</string>
				<string>com.googleusercontent.apps.1058616680754-ru4029ja8d7bj0vp32dndeiq6kr4khth</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>audio</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).sync</string>
		<string>com.gdelataillade.fetch</string>
	</array>
</dict>
</plist>
